/* .custom-product-form {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.custom-product-form .card-body{
    overflow-y: auto;
} */

/* .adminCards .btnStyle{
    display: none;
} */