/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primaryColor: #e8b248;
    --secondaryColor: #ff70a6;
    --lightText: #fff;
    --darkText: #202124;
    --primaryFontFamily: "Poppins", sans-serif;
    --boxShadowColor: #e8b3484c;
}

/* Navbar Style ↓ */
.navbarStyle {
    background-color: var(--lightText);
    box-shadow: 0px 0px 15px #00000021;
}

.navbar-brand {
    font-family: "Cabin", sans-serif;
    margin-right: 0rem;
    font-size: 1.1rem !important;
}

.navbar-brand img {
    width: 5.5rem;
    position: relative;
    right: -8px;
}

/* .navbarStyle .navbar-collapse {
    margin-right: 8rem;
} */

.navbarItems li {
    margin: 0 0.5rem;
}

.navbarItems li a:hover {
    color: var(--primaryColor);
}

.nav-link {
    /* color: var(--lightText); */
    font-size: 0.95rem;
    cursor: pointer;
    /* color: #202124; */
}

.dropdown-item:active {
    background-color: var(--primaryColor);
    /* color: var(--lightText); */
}

.cart-btn span {
    margin-left: 1rem;
    background-color: var(--darkText);
    color: var(--lightText);
    padding: 0 10px;
    border-radius: 50rem;
    text-align: center;
    font-size: 0.9rem;
}

.btn-outline-dark.cart-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}

.profileIcon {
    display: inline-block;
    margin-left: 0.6rem;
    font-size: 1.1rem !important;
}

.profileIcon svg {
    font-size: 1.1rem;
}

.submitBtn {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: var(--darkText);
    font-size: 0.9rem;
    border-radius: 0.5rem;
}


.refundSection .headingStyle {
    color: var(--primaryColor);
}

.refundSection ul li,
.refundSection ol li {
    text-align: left;
}


.singleProduct h4,
.singleProduct p,
.singleProduct td,
.singleProduct dt,
.singleProduct dd,
.singleProduct button,
.singleProduct a,
.singleProduct div,
.singleProduct span {
    font-family: "Roboto", sans-serif !important;
}

.singleProduct .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--primaryColor);
}