*,
html,
body {
    font-family: var(--primaryFontFamily);
    scroll-behavior: smooth;
}

.btn {
    text-transform: unset;
}

.allSections {
    padding-top: 82px;
}

::selection {
    background-color: var(--primaryColor);
    color: var(--lightText);
}

.headingStyle {
    font-size: 2.5rem;
    /* color: var(--lightText); */
    font-family: var(--primaryFontFamily);
    font-weight: 600;
    margin: auto;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.subHeading {
    text-transform: uppercase;
}

.logo {
    width: 5rem;
}

.paragraphStyle {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    margin-bottom: 1rem;
}

.btnStyle {
    border-radius: unset;
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: var(--darkText);
}

.priceStyle {
    font-family: "Montserrat", sans-serif;
    ;
    font-size: 1rem;
    font-weight: 700;
    color: var(--darkText);
    /* margin: 0; */
}

.priceStyle span {
    font-size: 0.7rem;
    font-weight: 500;
}

.form-control:focus,
.form-check-input:focus,
.form-select:focus {
    border-color: var(--boxShadowColor) !important;
    box-shadow: 0 0 0 .25rem var(--boxShadowColor) !important;
}

.crudIconStyle {
    font-size: 1.4rem;
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 0.2s ease;
}

.crudIconStyle:hover {
    scale: 1.1;
}

.crudIconStyle:active {
    scale: 1;
}

.trashStyle {
    font-size: 1.3rem;
    color: rgb(231, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease;
}

.trashStyle:hover {
    scale: 1.1;
    color: rgb(212, 0, 0);
}

.trashStyle:active {
    scale: 1;
}

.card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /* Ensure text wraps normally before clamping */
}

.userDataStyle {
    font-size: 0.95rem;
}

.userDataStyle:active {
    background-color: transparent;
    color: var(--darkText);
}














@media only screen and (max-width: 991.98px) {
    .brandName {
        text-align: center;
        font-size: 0.95rem;
    }

    .landing-left .headingStyle {
        font-size: 2rem !important;
    }

    .landingImage img {
        right: 3rem;
    }

    .headingStyle {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 768px) {
    .landingImage img {
        margin: 1rem 0;
    }

    .landingImage img {
        width: 100%;
        right: 0;
    }
}

@media only screen and (max-width: 575px) {
    .rowStyle .row>* {
        width: 50%;
    }

    .custom-modal {
        min-width: 95vw;
        max-width: 95vw;
    }
}